


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;

}
header{
    background-color: #ffc017;
    border-bottom:solid 1px #191919;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-block: 10px;
    align-items: center;
    
}
.menu2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu3 {
    margin-inline:9px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.menu3 a {
    text-decoration: none;
    color:#191919;
    font-size:14px;
}
.menu3 button {
    border-radius: 22px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-inline: 20px;
    color:white;
    background-color: #191919;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
      border:none;
  
    

}   
main {
    display: flex;
    flex-direction: column;
    background-color: #ffc017;
    border-bottom:solid 1px #191919;
   
}
.emme {
    display:flex;
    width: 100%;
    height: 100%;
}
.titolo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:9%;
    
}
.sottotit{
    margin-left: 17%;
}
h1 {
    font-size: 70px;
    font-weight: 700;
    padding-bottom:20px;
    padding-top:39%;
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -5px;
       width: max-content;
  
}
.titolo h5 {
    font-size:16px;
    padding-bottom:30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.titolo button{
    background-color: #191919;
    color:white;
    border-radius: 28px;
    padding-block: 7px;
    padding-inline:50px;
    font-size:17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
     border:none;
 }
 .articoli {
    border-bottom:solid 1px #191919;
 }
 article  {
    margin-inline:15%;
    
 }
 article h4 {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-top:50px;
    padding-bottom:3px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style:normal;
    font-size:10px;

 }

 .liste {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width:30%;
 }
 .totalAr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .numAr {
    display:flex;
    flex-direction:row;
    width:33%;
 }
 h6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left:10px;
    font-size:10px;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
 }
 h6 img {
    border-radius: 100%;
    margin-right: 5px;
    max-width: 25px;
 }
 span {
    font-size:28px;
    color:rgba(204, 196, 196, 0.521);
    font-weight: 600;
 }
 .titoloePar{
    padding-bottom:30px;
 }
 
 .titoloePar p {
    font-size:11px;
    margin-left:7px;
    font-weight: 800;
    padding-block:5px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;


 }
 .citazioni{
   display: flex;
   flex-direction: row;
   margin-left:7px;
   color:grey;
   font-size:9px;
   align-items: center;
   padding-top:3px;
   font-family: "Roboto", sans-serif;
   font-weight: 600;
   font-style: normal;
   
 }
 .citazioni img {
    display:flex;
    flex-direction: row;
    width:6%;
    padding-left:5px;
 }
 .titoloePar.vol2 h5 img {
    border-radius: 100%;
    margin-right: 5px;
    max-width: 25px;
 }
 .vol2{
    display:flex;
    flex-direction:row;
 }

.vol2 h5 {
    display: flex;
    flex-direction: row;
    padding-left:6px;
    font-size:10px;
    font-weight: 800;
 }
 .vol2 h6 {
    display: flex;
    flex-direction: column;
    padding-top:10px;
    font-size:17px;
 }
 section{
    margin-left:15%;
 }
 .vol2 img {
    display:flex;
    flex-direction: row;
    border-radius: 100%;
    margin-right: 5px;
    width: 32px;
    height: 32px;
 }
 .spiegazione {
    display:flex;
    flex-direction: column;
 }
 .contenitore {
    display: flex;
    gap:3%;
    max-width: 100%;
    padding-top:40px;
 }
 .articoli-contenitore {
    flex:3;
    display: flex;
    flex-direction: column;
    max-width: 65%;

 }
 .item {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:16px;
    border-radius: 8px;
 }
 .text {
    flex:1;
 }

 .autore {
    display: inline-flex;
    font-size:10px;
    font-weight: 700;
    color:#191919;
 }
 .text h5 {
    font-size:20px;
    margin:4px 0;
    font-family: "Roboto", sans-serif;
   font-weight: 800;
   font-style: normal;
    
 }
 .destrizione  {
    font-size:14px;
    color:#b61616;
    margin:8px 0;
    padding-top:5px;
    font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-style: normal;
    font-size:12px;
    color:#b9b0b0;
     
 }

 .dettagli {
    display: flex;
    font-size:9px;
    color:#b9b0b0;
    font-family: "Roboto", sans-serif;
   font-weight: 600;
   font-style: normal;
 }
 .dettagli.vol2{
    border-radius: 20px;
    padding-inline: 7px;
    background-color: #e9e8e842;
    padding-block: 6px;
 }
 .paragrafi{
    display: flex;
    align-items:center;
    padding-top:5px;
 }
 .ricerca {
    flex:1;
    padding:16px;
    border-radius: 8px;
 }
 .ricerca h3{
    font-size:10px;
    padding-bottom:20px;
    font-weight: 800;
    
 }
 .tags {
    display:flex;
    flex-wrap: wrap;
    padding-bottom:30px;
    gap:8px;
    border-bottom:solid 1px rgba(128, 128, 128, 0.267);
 }
 .tags span{
    padding:8px 8px;
    border:solid 1px rgba(128, 128, 128, 0.267);
    border-radius: 3px;
    font-size:11px;
    color:#b9b0b0;
    font-weight: 600;
 }
 section img {
    max-width: 27%;
    max-height: 100%;
 }
 .titolo4 {
    display:flex;
    align-items: center;
 }
 .titolo4 img {
    border-radius: 100%;
    margin-right: 5px;
    max-width: 25px;  
 }
 

 .star {
    display:flex;
    padding-left: 7px;
    width: 12%;
}
.autore a {
    color:grey;
}
.bookmark{
    margin-left: 48%;
}
.bookmark2 {
    margin-left:47.5%;
}
.bookmark3 {
    margin-left:35%;
}
.bookmark4 {
    margin-left:54%;
}
.bookmark5{
    margin-left:45%;
}
.bookmark6{
    margin-left:39%;
}
.bookmark7{
    margin-left:55%;
}
 .helper{
    display:flex;
    flex-wrap: wrap;
    padding-bottom:30px;
    padding-top:20px;
    gap:20px;


 }
.helper span{
  font-size:11px;
  color:#b9b0b0;
  font-weight: 600;
  
}